
version: '3.3'
services:
  nginx:
    image: nginx:latest
    ports:
      - target: 80
        published: 80
        protocol: tcp
    depends_on:
      - app
    volumes:
      - type: bind
        source: ./nginx.conf
        target: /etc/nginx/nginx.conf
    depends_on: 
      - service1
      - service2
      - service3
  app:
    image: jenkins-deployment-project2:5000/service4:build-${BUILD_NUMBER}
    build:
      context: ./service4
    ports:
      - target: 5000
        published: 5000
        protocol: tcp
    environment:
      - MY_SQL_USER=${MY_SQL_USER}
      - MY_SQL_PASSWORD=${MY_SQL_PASSWORD}
      - MY_SQL_URL=${MY_SQL_URL}
      - MY_SQL_DB=${MY_SQL_DB}
      - SECRET_KEY=${SECRET_KEY}
      - MY_SQL_DB_TEST=${MY_SQL_DB_TEST}
        

  service1:
    image: jenkins-deployment-project2:5000/service1:build-${BUILD_NUMBER}
    build: 
      context: ./service1
      dockerfile: Dockerfile

  service2:
    image: jenkins-deployment-project2:5000/service2:build-${BUILD_NUMBER}       
    build:
      context: ./service2
      dockerfile: Dockerfile
   
  service3: 
    image: jenkins-deployment-project2:5000/service3:build-${BUILD_NUMBER}
    build:
      context: ./service3
      dockerfile: Dockerfile
