<!DOCTYPE html>
<html>
        <head>
                <title>{{ title }} - Random Generator</title>
                <div class="title">
                        <h1>Number Generator</h1>
                </div>
                <div class="navbar">
                        <h2><b>Navigation:</b>
                                {% if current_user.is_authenticated %}
                                        <a href="{{ url_for('home') }}">Home</a>
                                        <a href="{{ url_for('about') }}">About</a>
                                        <a href="{{ url_for('post') }}">Post</a>
                                        <a href="{{ url_for('account') }}">Account</a>
                                        <a href="{{ url_for('logout') }}">Logout</a>
                                {% else %}
                                        <a href="{{ url_for('home') }}">Home</a>
                                        <a href="{{ url_for('about') }}">About</a>
                                        <a href="{{ url_for('login') }}">Login</a>
                                        <a href="{{ url_for('register') }}">Register</a>
                                {% endif %}
                        </h2>

                </div>
        </head>
        <body>
                {% block body_content %}
                {% endblock %}
        </body>
</html>

